<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">UTL String (Grid-tied) </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                        <li class="breadcrumb-item text-white active" routerLink="/">UTL</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">UTL String (Grid-tied) </h6>
</div>
<div class="container-fluid banner mb-5">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 230px;">

                    <div class="d-flex justify-content-between text-white mb-3">
                        <!-- <img class="img-fluid" src="assets/img/cat-3.jpg" alt=""> -->


                        <p class="mb-0"> UTL Solar stands for UTL String (Grid-tied) Solar Panel System. A UTL Solar
                            panel system is a solar energy system that is connected to the electrical grid. </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-dark d-flex flex-column p-5" style="height: 230px;">
                    <p class="text-white mb-3"> UTL is a leading brand in power generation and power back-up in India.
                        The company was founded in 1996 by Yogesh Dua and Pawan Garg. UTL offers a wide range of
                        products, including inverters, battery chargers, solar charge controllers, and online and
                        offline UPS.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 230px;">

                    <div class="d-flex justify-content-between text-white mb-3">
                        <p class="text-white mb-3">This allows the system to use electricity from both the grid and the
                            solar panels.
                            A UTL Solar panel system can be an efficient and low-cost way to use solar energy.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class=" mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Here are some benefits of a UTL Solar panel system:</h1>
                </div>
                <h4 class="text-body  mb-4">Reduces electricity bills
                    A UTL Solar panel system can help reduce your electricity bills.</h4>
                <p class="mb-4">Reduces carbon emissions
                    A UTL Solar panel system can help reduce the amount of carbon emissions your home produces.
                    Efficient
                    A UTL Solar panel system can be an efficient and low-cost way to use solar energy.
                    Sustainable
                    A UTL Solar panel system is a sustainable way to use solar energy because it doesn't require
                    rewiring or batteries. </p>

                <a routerLink="/about" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">About
                    Us</a>
            </div>
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="assets/img/utl1.webp" >

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="assets/img/utl2.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title2 mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">UTL String (Grid-tied)</h1>
                </div>
                <p class="  mb-4">UTL Solar is a solar company in India, manufacture all type of solar product including solar panel, inverter, battery, and all types of solar power systems for home and business.
                    UTL is one of the leading brand in power back-up and power generation in India. UTL offers wide range of quality products, has 4 manufacturing units, strong network of Distributors and dealers across the globe and highly motivated workforce. UTL has always been considered as a leader and modernizer in the market, when it comes to innovation. UTL is esteemed part of Fujiyama Power Systems Limited and owns highly coveted patent in rMPPT Technology for Solar PCU. 
                </p>


                <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"
                    data-wow-delay="0.6s">Gallery</a>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">

                <h1 class="display-5 text-white mb-4">Why Use UTL Solar? and Types of UTL Solar Inverter.</h1>
                <p class="text-white mb-0">UTL Solar inverters are known for their advanced rMPPT technology and high efficiency.  They generate 30% more electricity than a normal solar inverter. Therefore, UTL grid-tie solar inverter is India's most preferred solar inverter.
                    UTL offers an extensive range of products including Online UPS, Offline UPS, Inverters, Battery Chargers, SMU (Solar Management Unit), Solar Charge Controllers, Batteries, enabling us to accommodate all the needs of our customers up to their full satisfaction. We have highly efficient products to cater the rising demands of lift/elevator UPS and backup systems.    
                </p>


            </div>
            <div class="col-lg-5" style="min-height: auto; width: auto; background-color:#181d38;">
                <div class="position-relative h-100">
                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s"
                            style="width: 300px; "> > Grid Solar Inverter Heliac  </a>
                    </div>
                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"
                            data-wow-delay="0.6s" style="width: 300px;"> > Solar PCU Alfa Online PCU</a>
                    </div>
                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s"
                            style="width: 300px;"> > On Grid Solar Inverter (String Solar)</a>
                    </div>

                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"
                            data-wow-delay="0.6s" style="width: 300px;"> > Hybrid Solar Inverter (Sigma+ PCU)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="section-title2 mb-4">

                    <h1 class="display-5 mb-0">~UTL Solar Advantages~</h1>
                </div>
                <p class="mb-4" style="text-align: justify;">The term "UTL Solar Advantage" refers to the benefits or advantages of UTL (Universal Technical Systems) Solar products, which include solar panels, inverters, batteries, and other solar energy solutions. UTL is a well-known brand in the renewable energy industry, and their solar products are designed to offer various advantages, such as:

                  <br> <b> 1. *High Efficiency*:</b> UTL solar panels and systems are known for their high efficiency, allowing them to convert more sunlight into electricity.
                    
                   <br> <b> 2. *Durability*:</b> UTL solar products are built to last, with strong construction that can withstand various weather conditions, ensuring long-term reliability.
                    
                  <br> <b>  3. *Cost-Effective*:</b> UTL offers affordable solar solutions with competitive pricing, making solar energy accessible to a wider audience.
                    
                  <br> <b>  4. *Warranty and Support*:</b>UTL typically provides warranties on their solar products, as well as customer support, ensuring that users have assistance if any issues arise.
                    
                    </p>
                <h5 class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s">Contact...</h5>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">+91 7263858888</h1>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-3">
                    <div style="display: flex;" class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden">
                            <img style="width: auto;" class="img-fluid hig" src="assets/img/utl3.webp" alt="">

                        </a> 
                   

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Utl</h6>

        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div (mouseover)="a()" (mouseleave)="a1()" class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden">
                        <img [ngStyle]="{'display':dis}" class="img-fluid" src="assets/img/utl4.webp" alt=""></a>
                    <div class="p-4">

                        <h5 class="mb-3">Can I use 5kW UTL inverter for three phases?</h5>
                        <p>
                            
                            Yes, 5kW UTL inverters are available in three-phase. </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div (mouseover)="b()" (mouseleave)="b1()" class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden">
                        <img [ngStyle]="{'display':dis1}" class="img-fluid" src="assets/img/utl5.jpg" alt=""></a>
                    <div class="p-4">

                        <h5 class="mb-3">How many technologies are available in UTL solar panel?</h5>
                        <p>
                           
                            UTL manufacture polycrystalline and monocrystalline solar panels.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div (mouseover)="c()" (mouseleave)="c1()" class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden">
                        <img [ngStyle]="{'display':dis2}" class="img-fluid" src="assets/img/utl6.webp" alt=""></a>
                    <div class="p-4">

                        <h5 class="mb-3"> How much power does UTL 5kW solar system produce?</h5>
                        <p>
                            
                           
                            A 5kW solar system will generate approximately 20 units per day.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div (mouseover)="d()" (mouseleave)="d1()" class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden">
                        <img [ngStyle]="{'display':dis3}" class="img-fluid" src="assets/img/utl7.avif" alt=""></a>
                    <div class="p-4">

                        <h5 class="mb-3"> Why should I buy UTL Solar?</h5>
                        <p>
                           
                           
                            Do you know the biggest reason behind failure of any solar system?Why should you buy UTL solar onlyThe assembly of the system with different brands....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">LABOTATORY SERVICES</h5>

                    <h4 class="mb-2 ">Blood tests, urine tests, and other lab work to diagnose conditions like diabetes, infections, and hormonal imbalances.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp " data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5 color">
                    <h5 class="position-relative d-inline-block  text-uppercase">CARDIOLOGY SERVICES</h5>

                    <h4 class="mb-2 ">ECG, <br> echocardiograms, and stress tests to monitor heart health, Measures the electrical activity of the heart to detect abnormalities.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">IMAGING SERVICES</h5>

                    <h4 class="mb-2 ">X-Rays, MRI Scans, CT Scans, ultrasound, and mammography to help diagnose injuries, tumors, and other internal issues.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5 color">
                    <h5 class="position-relative d-inline-block  text-uppercase">GAMMA CAMERA</h5>

                    <h4 class="mb-2 ">Cardiac Imaging Bone Scintigraphy, Thyroid Scanning, Renal Imaging, Liver and Gallbladder Imaging, Infection and Inflammaton Imaging, the Radiopharmaceutical distributes Throughout the body, and Radionuclide emits Gamma Rays.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">CT SCAN</h5>

                    <h4 class="mb-2 ">A CT Scan, or Computed Tomography Scan, is a Medical imaging Procedure that Combines X-Rays Measurements taken from different angles and computer processing to create cross-sectional images of the body.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5 color">
                    <h5 class="position-relative d-inline-block  text-uppercase">PETCT</h5>

                    <h4 class="mb-2 ">PET/CT(Positron Emission Tomography/ Computed Tomography) is a highly advanced imaging technique that combies hte functional imaging capabilities of PET with the anatomical imaging capabilities of CT.</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->