<!-- first headding  -->
<!-- first image  -->
<div class="container ">
    <div class="row">
        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid height " src="assets/dcdbimage/fuse1.png" alt="">
                </div>
            </div>
            <div class="fs-5 card-body wow fadeInUp " data-waw-delay="0.3s">
                <p class="">An MCB (Miniature Circuit Breaker) is an automatically operated electrical switch designed
                    to protect an electrical circuit from damage caused by overload or short circuits. It is a safer and
                    more reliable alternative to traditional fuses.</p>
            </div>
        </div>

        <!-- second image -->

        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden wow fadeInRight" data-wow-delay="0.3s">
                    <img class="img-fluid height " src="assets/dcdbimage/fuse2.jpg" alt="">
                </div>
            </div>
            <div class="fs-5 card-body mt-10 wow fadeInUp" data-waw-delay="0.3s">
                <p>A single-pole MCB is designed to protect a single-phase circuit (one live wire) from overcurrent
                    conditions, such as overloads and short circuits.
                    <br>It disconnects the live wire automatically when the current exceeds the rated value.
                </p>

            </div>
        </div>

        <!-- third image -->
        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden wow fadeInDown" data-wow-delay="0.3s">
                    <img class="img-fluid height " src="assets/dcdbimage/image8.jpg" alt="">
                </div>

            </div>
            <div class="fs-5 text-justify card-body">
                <p>An auxiliary contact is an additional component that attaches to a main circuit breaker (MCB) or
                    residual current device (RCD/RCCB). <br>
                    Its primary function is to provide a secondary signaling function or control, such as remote
                    monitoring, switching, or status indication of the main circuit breaker.</p>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <br><br><br>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse}}</h6>
            <h4 class="text-primary ">Key Components and Features:</h4>
        </div>
        <div class="col-md-5">
            <div class="team-item big-light mt-10">
                <div class="overflow-hidden wow fadeInLeft " data-wow-delay="0.3s">

                    <img class="img-fluid bigimage " src="assets/dcdbimage/image6.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-7 wow fadeInRight" data-wow-delay="0.3s">

            <h5>Control Panel:</h5>
            <li>The upper section has switches, displays, and controls for managing the system.</li>
            <li><b>Digital Display:</b> Shows parameters like input/output voltage, frequency, and current.</li>
            <li><b>Control Buttons:</b> For starting/stopping the unit and setting parameters.</li>
            <li><b>Indicators:</b> Lights or alarms for system status (e.g., overload, fault).</li>
            <h5>Cooling Vents:</h5>
            <li>Located on the sides and front (lower section).</li>
            <li>Prevents overheating by allowing proper airflow.</li>
            <h5>Wheels:</h5>
            <li>At the bottom for mobility, making it easy to move to different locations.</li>
            <h5>Cabinet Enclosure: </h5>
            <li>Provides protection for internal components against dust and physical damage.
            </li>
            <li>May include safety features like locks or warning labels.
            </li>

        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-10">
        <br><br><br>
        <div class="text-center wow fadeInUp " data-wow-delay="0.1s">

            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse}}</h6>
            <h4 class="text-primary ">Key Components:</h4>

        </div>
        <div class="col-md-7">
            <h4>Role in Solar Systems:</h4>
            <p>The ACDB is a critical part of solar power installations. After the DC energy from solar panels is
                converted into AC by the inverter, the ACDB ensures safe distribution of this power to the load
                (appliances or grid). It protects the system and enhances operational safety.</p>
            <h4>MCBs (Miniature Circuit Breakers):</h4>
            <li>Located on the right-hand side.</li>
            <li>These are safety devices designed to protect the electrical circuit from overloads or short circuits.
            </li>
            <li>Each MCB is rated for a specific current (measured in Amps, e.g., 10A, 16A, etc.).
                They ensure safe disconnection in case of a fault.</li>
            <li>They ensure safe disconnection in case of a fault.</li>
            <h4>Isolators (Rotary Switches):</h4>
            <li>Seen on the left-hand side (black rotary handles).
            </li>
            <li>These are used to manually disconnect the electrical supply for maintenance or emergencies.
            </li>
            <li>Each switch indicates its rated capacity (e.g., 63A or 40A).
            </li>
        </div>
        <div class="col-md-5">
            <div class="team-item big-light mt-10">
                <div class="overflow-hidden wow fadeInUp " data-waw-delay="0.3s">

                    <img class="img-fluid bigimage second-right-image-size " src="assets/dcdbimage/fuse6.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-4">
        <div class="text-center wow fadeInUp " data-wow-delay="0.1s">

            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse}}</h6>
            <h4 class="text-primary ">Key Components and Features
            </h4>

        </div>
        <div class="col-md-12 text-center">
            <div class="team-item big-light">
                <div class="overflow-hidden wow fadeInRight" data-wow-delay="0.3s">
                    <img class="img-fluid bigimage  " src="assets/dcdbimage/fuse3.jpg" alt="">
                    
                </div>
                <h4 >Line (L) and Neutral (N) Connections:</h4>
                <p >Located at the left-hand side of the assembly.
                </p>
            </div>
        </div>
    </div>
</div>

 