 <!-- first headding  -->
  <!-- first image  -->
 <div class="container ">
    <div class="row">
        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden ">
                    <img class="img-fluid height " src="assets/dcdbimage/fuse1.png" alt="">
                </div>
                </div>
            <div class="fs-5 card-body wow fadeInUp " data-waw-delay="0.3s">
                 <p class="">An MCB (Miniature Circuit Breaker) is an automatically operated electrical switch designed to protect an electrical circuit from damage caused by overload or short circuits. It is a safer and more reliable alternative to traditional fuses.</p>
            </div>
        </div>

        <!-- second image -->

        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden ">
                    <img class="img-fluid height " src="assets/dcdbimage/fuse2.jpg" alt="">
                        </div>
                     </div>
                     <div class="fs-5 card-body mt-10 wow fadeInUp" data-waw-delay="0.3s">
                <p>A single-pole MCB is designed to protect a single-phase circuit (one live wire) from overcurrent conditions, such as overloads and short circuits.
                    <br>It disconnects the live wire automatically when the current exceeds the rated value.
                </p>

            </div>
        </div>

        <!-- third image -->
        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden ">
                    <img class="img-fluid height " src="assets/dcdbimage/image8.jpg" alt="">
                </div>
                
            </div>
            <div class="fs-5 text-justify card-body wow fadeInUp" data-waw-delay="0.3s">
                <p>An auxiliary contact is an additional component that attaches to a main circuit breaker (MCB) or residual current device (RCD/RCCB). <br>
                    Its primary function is to provide a secondary signaling function or control, such as remote monitoring, switching, or status indication of the main circuit breaker.</p>
             </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="team-item big-light mt-10">
                <div class="overflow-hidden">
                    <img class="img-fluid bigimage " src="assets/dcdbimage/image6.jpg" alt="">                </div>
            </div>
        </div>
        <div class="col-md-7">
            <p></p>
        </div>
    </div>
</div>