 
 <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h1 class="display-3 text-white animated slideInDown">ACDB-DCDB</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
              <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
              <li class="breadcrumb-item text-white active" routerLink="AcdbDcdb">ACDB-DCDB</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
 
  <div class="container mt-5 ">
    <div class="input-group ">
     
      <input type="text" class="form-control  input-hover border-5 " placeholder="Search..." aria-label="Search" style="border: 3px solid  #06BBCC;">

      <span class="input-group-text bg-primary border-10 itag-hover ">
        <i class="fa-solid fa-magnifying-glass  " style="border: 3px solid  #06BBCC;"></i>

     </span>
    </div>
  </div>

 
<div class="container " >
<div class="row g-2 mt-5">
  <div class="col- md-12 pt-10 mt-10 fs-1  text-center">
    <p style="color: #06BBCC; font-weight: bold;">Categories</p>
  </div>

  <div class="col-md-3 px-3 img-fluid ith card">
    <img class="height" src="/assets/img/pic12.jpg" alt="">

  </div>
  <div class="col-md-3 px-3 img-fluid ith card">
    <img class="height" src="/assets/img/pic13.jpg" alt="">

  </div>
  <div class="col-md-3 px-3 img-fluid ith card">
    <img class="height" src="/assets/img/pic14.webp" alt="">

  </div>
  <div class="col-md-3 px-3 img-fluid ith card">
    <img class="height" src="/assets/img/pic15.png" alt="">

  </div>

  <div class="col-md-12">
    <p class="text-center fs-1 mt-md-3" style="color: #06BBCC;"><b>Products</b></p>
  </div>

    <div class=" col-md-3 px-3 img-fluid ith card  "> 
        <img class="height " src="assets/img/pic1.jpeg" alt="">
        <p class="mt-4" style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>
        <p class="mt-0">  <span style="color: #06BBCC;"><b>【Suitable / Ideal】</b></span>This 1 in 1 out 600V DCDB is suitable for all types of solar panels. It support 1 string of up to 12 nos solar panels (600V). This DC distribution box will provide multiple protections to your DC circuits and components that are connected to your solar system. </p>    
        <p class="mt-0"> <span style="color: #06BBCC;"><b>【1 Year Warranty】</b></span>This entire DC distribution box comes with 1 year warranty. </p>    
        <p class="mt-0"><span style="color: #06BBCC;"><b>【Suitable for Solar System ] </b></span> Suitable for Solar System and Home Protection.</p>
    </div>
     
    <div class=" col-md-3  px-3  img-fluid ith  card   ">
        <img class="height" src="assets/img/pic2.jpg" alt="">
        <p class="mt-4" style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>

        <p class="mt-0"> <span style="color: #06BBCC;"><b>【AC MCB】</b></span>Fast tripping Top Brand AC MCB for complete protection and fault prevention. This MCB will de-energize the entire AC circuitry in case of overload, short circuit and extra amperes. </p> 
      <p class="mt-0 overflow-hiden"><span style="color: #06BBCC;"><b>【Durable IP65 Rated Box】</b></span>Best-in-class IP65 Rated Top Brand dustproof and waterproof solar combiner box. Superior quality materials and round edges design make it more durable. This anti-corrosion box is heat resistant and suitable for both indoor and outdoor installations. </p>
    </div>
        
    <div class=" col-md-3 px-3 img-fluid ith  card  ">
        <img class="height"  src="assets/img/pic3.jpg" alt="">
        <p class="mt-4 " style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>
        <p class="mt-0 "> <span style="color: #06BBCC;"><b>【Suitable / Ideal</b></span>This 1 in 1 out 1000V DCDB is suitable for all types of solar panels. It support 1 string of up to 20 nos solar panels (1000V). This DC distribution box will provide multiple protections to your DC circuits and components that are connected to your solar system.  </p>
        <p class="mt-0"><span style="color: #06BBCC;"><b>【1000V DC SPD】</b></span>Equipped with 1000V (3 Pole) SIBASS DC SPD. This Surge Protection Device (SPD) will protect your solar inverter/DC appliances and DC circuits before any mishap by diverting excess voltage to the ground via earthing4999</p>
 
    </div>
    
     <div class=" col-md-3 px-3 img-fluid ith card   ">
        <img class="height"  src="assets/img/pic4.webp" alt="">
        <p class="mt-4" style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>

        <p class="mt-0"> <span style="color: #06BBCC; "><b>【AC MCB】</b></span>Fast tripping Top Brand AC MCB for complete protection and fault prevention. This MCB will de-energize the entire AC circuitry in case of overload, short circuit and extra amperes.  </p>
        <p class=""><span style="color: #06BBCC; "><b>【Durable IP65 Rated Box】</b></span>【Durable IP65 Rated Box】Best-in-class IP65 Rated Top Brand dustproof and waterproof solar combiner box. Superior quality materials and round edges design make it more durable. This anti-corrosion box is heat resistant and suitable for both indoor and outdoor installations.</p>
    </div>

    <!-- second line -->
      <div class="row g-2 mt-5">
    

    <div class=" col-md-3 px-3 img-fluid ith card mt-10">
        <img  class="height" src="assets/img/pic5.jpg" alt="">
        <p class="mt-4" style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>
        <p class="mt-0"> <span style="color: #06BBCC;"><b>【Suitable / Ideal】</b></span> This 1 in 1 out 600V DCDB is suitable for all types of solar panels. It support 1 string of up to 12 nos solar panels (600V). This DC distribution box will provide multiple protections to your DC circuits and components that are connected to your solar system. </p> 
        <p class="mt-0"><span style="color: #06BBCC;"><b>【DC MCB】</b></span>Best quality self-tripping DC MCB for protection of solar panel string and solar equipment from short-circuiting/high current (amperes). This DC MCB will automatically break the DC circuit by tripping itself if any disturbance occurs in the DC supply.</p>
      </div>
    <div class=" col-md-3 px-3 img-fluid ith card">
        <img  class="height" src="assets/img/pic6.jpg" alt="">
        <p class="mt-4" style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>
        <p class="mt-0"> <span style=" color: #06BBCC;"><b>【Suitable / Ideal】</b></span>This 1 in 1 out 600V DCDB is suitable for all types of solar panels. It support 1 string of up to 12 nos solar panels (600V). This DC distribution box will provide multiple protections to your DC circuits and components that are connected to your solar system.  </p>
        <p class="mt-0"><span style="color: #06BBCC;"><b>【DC Fuse & Fuse Holder】</b></span>  Best quality self-blown DC fuse with DC fuse holder for protection of solar panel string and solar equipment from short-circuiting/high current (amperes). This DC fuse will automatically break the DC circuit by blowing itself if any disturbance occurs in the DC supply.</p>
      </div>
    <div class=" col-md-3 px-3 img-fluid ith card">
        <img class="height" src="assets/img/pic7.webp" alt="">
        <p class="mt-4" style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>
        <p class="mt-0"> <span style="color: #06BBCC;"><b>[ Eqquipped with high efficiency SPD ]</b></span>  Eqquipped with high efficiency SPD to protect your solar inverter/DC appliances and DC circuits before any mishap by diverting excess voltage.  </p>
        <p class="mt-0"><span style="color: #06BBCC;"><b>[ Best quality self-blown DC fuse ]</b></span> Best quality self-blown DC fuse with DC fuse holder for protection of solar panel strings and solar equipment from short-circuiting/high current (amperes).</p>
        <p class="mt-0"><span style="color: #06BBCC;"><b>[ 1 year warranty ]</b></span>  This entire AJB comes with 1 year warranty. So you can buy it withou.t any worry.</p>
      </div>
    <div class=" col-md-3 px-3 img-fluid ith card">
        <img  class="height" src="assets/img/pic9.jpg" alt="">
        <p class="mt-4" style="text-decoration: underline; color: #06BBCC; font-size: 18px;"> <b>Key Features:</b></p>
        <p class="mt-0"> <span style="color: #06BBCC;"><b>[ Eqquipped with high efficiency SPD ]</b></span> Eqquipped with high efficiency SPD to protect your solar inverter/DC appliances and DC circuits before any mishap by diverting excess voltage.</p>
        <p class="mt-0"><span style="color: #06BBCC;"><b>[ Best quality self-blown DC fuse ]</b></span> Best quality self-blown DC fuse with DC fuse holder for protection of solar panel strings and solar equipment from short-circuiting/high current (amperes).</p>
        <p class="mt-0"><span style="color: #06BBCC;"><b>[ Best-in-class IP65 ] </b></span>Best-in-class IP65 Rated top brand dustproof and waterproof solar combiner box.</p>
      </div>
      </div>
    </div> 
    </div>

 